{% load static %}
{% load simple_tags_blog %}
{% tags_list as tags_list %}
{% categories_list as cat %}
{% travels_list as travels %}
<header role="banner">
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-9 social">
                    <a href="#"><span class="fa fa-twitter"></span></a>
                    <a href="#"><span class="fa fa-facebook"></span></a>
                    <a href="#"><span class="fa fa-instagram"></span></a>
                    <a href="#"><span class="fa fa-youtube-play"></span></a>
                </div>
                <div class="col-3 search-top" style="color: white">
                    {% if request.user.is_authenticated %}
                        <span>{{ request.user.username }}</span>
                        /
                        <a href="{% url 'profiles:logout' %}" style="color: white">logout</a>
                    {% else %}
                        <a href="{% url 'profiles:login' %}" style="color: white">login</a>
                        /
                        <a href="{% url 'profiles:register' %}" style="color: white">register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="container logo-wrap">
        <div class="row pt-5">
            <div class="col-12 text-center">
                <a class="absolute-toggle d-block d-md-none" data-toggle="collapse" href="#navbarMenu" role="button"
                   aria-expanded="false" aria-controls="navbarMenu"><span class="burger-lines"></span></a>
                <h1 class="site-logo"><a href="{% url 'home:home' %}">Wordify</a></h1>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-md  navbar-light bg-light">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav mx-auto">
                    {% with request.resolver_match.url_name as url_name %}
                        <li class="nav-item">
                            <a class="nav-link {% if url_name == 'home' %}active{% endif %}" href="{% url 'home:home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if url_name == 'blogs' %}active{% endif %}" href="{% url 'home:blogs' %}">Blogs</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">Travel</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                {% for travel in travels %}
                                    <a class="dropdown-item"
                                       href="{% url 'home:blogs' %}?travel={{ travel.title }}">{{ travel.title }}</a>
                                {% endfor %}
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">Categories</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown05">
                                {% for category in cat %}
                                    <a class="dropdown-item"
                                       href="{% url 'home:blogs' %}?category={{ category.title }}">{{ category.title }}</a>
                                {% endfor %}
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if url_name == 'about' %}active{% endif %}" href="{% url 'main:about' %}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if url_name == 'contact' %}active{% endif %}" href="{% url 'contact:contact' %}">Contact</a>
                        </li>
                    {% endwith %}
                </ul>
            </div>
        </div>
    </nav>
</header>