{% load simple_tags_blog %}
{% tags_list as tags_list %}
{% categories_list as categiries_list %}
{% if about_owner %}
    {% about_owner as owner %}
{% endif %}
{% popular_three_blogs as popular_blogs %}

{% load static %}
<div class="sidebar-box">
    <div class="bio text-center">
        {% if owner.image %}
            <img src="{{ owner.image.url }}" alt="Image Placeholder" class="img-fluid">
        {% else %}
            <img src="{% static 'images/profile.png' %}" alt="Image Placeholder" class="img-fluid">
        {% endif %}

        <div class="bio-body">
            <h2>{{ owner.full_name_ }}</h2>
            <p>{{ owner.bio|safe|slice:"100" }}...</p>
            <p><a href="{% url 'main:about' %}" class="btn btn-primary btn-sm rounded">Read my bio</a></p>
            <p class="social">
                <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
                <a href="#" class="p-2"><span class="fa fa-youtube-play"></span></a>
            </p>
        </div>
    </div>
</div>

<div class="sidebar-box">
    <h3 class="heading">Popular Posts</h3>
    <div class="post-entry-sidebar">
        <ul>
            {% for popular_blog in popular_blogs %}
                <li>
                    <a href="{{ popular_blog.url_detail_blog }}">
                        <img src="{{ popular_blog.image.url }}" alt="Image placeholder"
                             class="mr-4">
                        <div class="text">
                            <h4>{{ popular_blog.title }}</h4>
                            <div class="post-meta">
                                <span class="mr-2">{{ popular_blog.created_date|date:"F d, Y" }}</span>
                            </div>

                            <img src="{% static 'images/views.png' %}" style="width: 20px"
                                 alt="">{{ popular_blog.views }}

                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="sidebar-box">
    <h3 class="heading">Categories</h3>
    <ul class="categories">
        {% for category in categiries_list %}
            <li><a href="{% url 'home:blogs' %}?category={{ category.title }}#content">{{ category.title }}
                <span>{{ category.blog_set.count }}</span></a></li>
        {% endfor %}
    </ul>
</div>

<div class="sidebar-box">
    <h3 class="heading">Tags</h3>
    <ul class="tags">
        {% for tag in tags_list %}
            <li><a href="{% url 'home:blogs' %}?tag={{ tag.title }}#content">{{ tag.title }}</a></li>
        {% endfor %}
    </ul>
</div>